header {
    position: fixed; right: 50px; left: 50px; z-index: 999;
}
header .header {
    display: flex; align-items: center; 
    justify-content: space-between; padding: 15px 0; 
    border-bottom: 1px solid #fff; 
}
header .header h1 {width: 63px;height: 46px;}
header .header h1 a {}
header .header h1 a img {width: 100%;}
header .header nav {}
header .header nav ul {display: flex; align-items: center;}
header .header nav ul li {margin-right: 50px;}
header .header nav ul li:last-child {margin-right: 0;}
header .header nav ul li a {font-size: 1.125rem; font-weight: 700; color: #fff;}
header .header #spicking {}
header .header #spicking option {}
/* content1 ======================================================================================= */
main {}
main .content1 {width: 100%; background: #000;}
main .content1 video {width: 100%; height: 950px;}
/* content2 ======================================================================================= */
main .content2 {padding: 300px 0; background: #000;}
main .content2 .content2_info {text-align: center;}
main .content2 .content2_info p {letter-spacing: -0.02em;}
main .content2 .content2_info p:nth-child(1) {}
main .content2 .content2_info p:nth-child(1) img {width: 154px; height: 112px;}
main .content2 .content2_info p:nth-child(2) {font-size: 1.5625rem; font-weight: 700; color: #D7A93B; margin: 45px 0;}
main .content2 .content2_info p:nth-child(3) {line-height: 30px; font-weight: 500; color: #fff;}
/* content3 ======================================================================================= */
/* content3 ------------------------------------------------------------- */
main .content3 {background:#000; padding: 50px 0;}
main .content3 .content3_txt {text-align: center; margin-bottom: 100px;}
main .content3 .content3_txt p {letter-spacing: -0.02em;}
main .content3 .content3_txt p:nth-child(1) {color: #D7A93B; font-weight: 700; font-size: 2.5rem;}
main .content3 .content3_txt p:nth-child(2) {color: #fff; line-height: 28px; margin: 30px 0 ;}
/* content3/gogh --------------------------------------------------------- */
main .content3 .img {}
main .content3 .img ul {display: flex; justify-content: space-between; margin-bottom: 14px;} 
main .content3 .img ul > li {width: 370px; height: 370px; background-size: cover; background-position: center;} 
main .content3 .img .gogh > li:nth-child(1) {
    background: #0E236A;
} 
main .content3 .img .gogh > li:nth-child(2) {
    background-image: url(../img/gogh/gogh1.jpg);
} 
main .content3 .img .gogh > li:nth-child(3) {
    background-image: url(../img/gogh/gogh2.jpg);
} 
main .content3 .img .gogh > li:nth-child(4) {
    background-image: url(../img/gogh/gogh3.jpg);
} 
main .content3 .img .gogh > li:nth-child(5) {
    background-image: url(../img/gogh/gogh4.png);
} 
main .content3 .img li {}
main .content3 .img li a {text-align: center; letter-spacing: -0.02em; height: 370px;}
main .content3 .img li a p {color: #fff; font-size: 1.125rem; width: 100%;height: 370px; padding-top: 130px; line-height: 25px; opacity: 0; transition: all 0.3s;}
main .content3 .img li:hover a p {opacity: 1; background: rgba(33, 33, 33, 0.5);}
main .content3 .img li a p em {font-weight: 700; font-size: 1.25rem; color: #fff; line-height: 60px;}
/* klimt-------------------------------------------------------------------------- */
main .content3 .img .klimt > li:nth-child(1) {
    background: #D2BD01;
} 
main .content3 .img .klimt > li:nth-child(2) {
    background-image: url(../img/klimt/klimt1.png);
} 
main .content3 .img .klimt > li:nth-child(3) {
    background-image: url(../img/klimt/klimt2.jpg);
} 
main .content3 .img .klimt > li:nth-child(4) {
    background-image: url(../img/klimt/klimt3.jpg);
} 
main .content3 .img .klimt > li:nth-child(5) {
    background-image: url(../img/klimt/klimt4.jpg);
}
/* matisse-------------------------------------------------------------------------- */
main .content3 .img .matisse > li:nth-child(1) {
    background: #E41913;
} 
main .content3 .img .matisse > li:nth-child(2) {
    background-image: url(../img/matisse/matisse1.jpg);
} 
main .content3 .img .matisse > li:nth-child(3) {
    background-image: url(../img/matisse/matisse2.jpg);
} 
main .content3 .img .matisse > li:nth-child(4) {
    background-image: url(../img/matisse/matisse3.jpg);
} 
main .content3 .img .matisse > li:nth-child(5) {
    background-image: url(../img/matisse/matisse4.jpg);
}
/* degas-------------------------------------------------------------------------- */
main .content3 .img .degas > li:nth-child(1) {
    background: #D0D6C6;
} 
main .content3 .img .degas > li:nth-child(2) {
    background-image: url(../img/degas/degas1.jpg);
} 
main .content3 .img .degas > li:nth-child(3) {
    background-image: url(../img/degas/degas2.jpg);
} 
main .content3 .img .degas > li:nth-child(4) {
    background-image: url(../img/degas/degas3.jpg);
} 
main .content3 .img .degas > li:nth-child(5) {
    background-image: url(../img/degas/degas4.jpg);
}
/* footer ================================================================================================================= */
footer {
    background: #000;
    display: flex; justify-content: space-between;
    align-items: start; padding: 25px 70px;
}
footer div {}
footer .address p{color: #fff;}
footer .address p:nth-child(1) {width: 107px; height: 77px;}
footer .address p:nth-child(1) > img {width: 100%;}
footer .address p:nth-child(2) {margin: 45px 0;}
footer .address address {color: #fff;}
footer .link {
    display: flex; flex-flow: column;
}
footer .link a {color: #fff; margin-bottom: 30px;}
footer .link a:last-child {margin-bottom: 0;}
footer .sns {}
footer .sns a {margin-right: 30px; display: inline-block; width: 30px; height: 30px;}
footer .sns a:last-child {margin-right: 0;}
footer .sns a img {width: 100%;}