body,html {scroll-behavior: smooth;}
main {min-width: 393px;}
/* aside */
aside {
    display: flex; flex-flow: column nowrap;
    position: fixed; z-index: 900; top: 350px;
    left: 20px;
}
aside a {
    display: inline-block; width: 80; 
    font-weight: 700;  background: #DFBA63;
    border-radius: 25px; margin-bottom: 30px; 
    padding: 5px 3px; text-align: center;
    letter-spacing: -0.02em; color: #DFBA63;
    transition: all 0.3s linear;
}
aside a:hover {background: #000;}
aside a:last-child {margin-bottom: 0;}
/* content1================================================================ */
main .content1 {background: #000; position: relative;}
main .content1 .swiper {
    width: 100%; height: 100vh;
    z-index: 100; text-align: center;
}
main .content1 .swiper .rap {}
main .content1 .swiper .rap .slide1 {
    background: url(../img/degas/degas2.jpg) center no-repeat;
    background-size: cover;
}
main .content1 .swiper .rap .slide2 {
    background: url(../img/jeju/content3_7.jpg) center no-repeat;
    background-size: cover;
}
main .content1 .swiper .rap .slide3 {
    background: url(../img/jeju/content3_4.jpg) center no-repeat;
    background-size: cover;
}
main .content1 .swiper p {
    font-size: 2.5rem; letter-spacing: -0.02em; color: #fff;
    font-weight: 700; position: absolute; 
    top: 400px;
    z-index: 150; width: 100%;
}
/* content2========================================================= */
main #content2 {background: #000; padding: 150px 0;}
main #content2 .info {    
    display: flex; flex-flow: column nowrap; align-items: center;
    
}
main #content2 .info .imgtitle {width: 154px; height: 112px;}
main #content2 .info .imgtitle img {width: 100%;}
main #content2 .info h1 {
    color: #DFBA63; font-weight: 700;
    font-size: 2.5rem; letter-spacing: -0.02em;
    margin-top: 30px;
}
main #content2 .info .txt {
    color: #fff; 
    letter-spacing: -0.02em; font-weight: 500;
    display: flex; justify-content: center;
    margin: 50px 0;
}
main #content2 .info .txt p {line-height: 30px;}
main #content2 .info .txt .left {
    margin-right: 90px;
    width: 400px;
}
main #content2 .info .txt .right {
    width: 400px;
}
main #content2 .info a {
    padding: 5px 10px; border: 1px solid #fff;
    display: inline-block; text-align: center;
    color: #fff; line-height: 30px;
}
main #content2 .info a em {
    border: none; color: #fff;
    font-weight: 700;
}
/* content3============================================================= */
main .content3 {
    text-align: center; padding: 150px 0; background: #000;
    width: calc(100% - 0);
}
main .content3 .imgs {}
main .content3 .imgs > p {
    font-weight: 700; color: #DFBA63;
    font-size: 2.5rem; letter-spacing: -0.02em;
    margin-bottom: 100px;
}
main .content3 .imgs p {letter-spacing: -0.02em;}
main .content3 .imgs ul {padding: 0 15px;}
main .content3 .imgs ul li {display: flex; flex-flow: row wrap;}
main .content3 .imgs ul .oline {
    display: flex; justify-content: space-around;
}
main .content3 .imgs ul .oline a {}
main .content3 .imgs ul .oline a:nth-child(1) {
    background-image: url(../img/jeju/content3_1.jpg);
}
main .content3 .imgs ul .oline a:nth-child(2) {
    background-image: url(../img/jeju/content3_2.jpg);
}
main .content3 .imgs ul .oline a:nth-child(3) {
    background-image: url(../img/jeju/content3_3.jpg);
}
main .content3 .imgs ul .oline a:nth-child(4) {
    background-image: url(../img/jeju/content3_4.jpg);
}
main .content3 .imgs ul .oline a:nth-child(5) {
    background-image: url(../img/jeju/content3_5.jpg);
}
main .content3 .imgs ul .oline a:nth-child(6) {
    background-image: url(../img/jeju/content3_6.jpg);
}
main .content3 .imgs ul .oline a:nth-child(7) {
    background-image: url(../img/jeju/content3_7.jpg);
}
main .content3 .imgs ul .oline a:nth-child(8) {
    background-image: url(../img/jeju/content3_8.jpg);
}
main .content3 .imgs ul .oline a:nth-child(9) {
    background-image: url(../img/jeju/content3_9.jpg);
}
main .content3 .imgs ul .oline a:nth-child(10) {
    background-image: url(../img/jeju/content3_10.jpg);
}
main .content3 .imgs ul .oline a:nth-child(11) {
    background-image: url(../img/jeju/content3_11.jpg);
}
main .content3 .imgs ul .oline a:nth-child(12) {
    background-image: url(../img/slide2.jpg);
}
main .content3 .imgs ul li a {
    display: inline-block; width: 450px; height: 450px;
    background-size: cover; background-position: center;
    margin-top: 20px;
}
main .content3 .imgs ul li a p {
    width: 100%; height: 450px; opacity: 0;
    color: #fff; font-size: 1.15rem; 
    transition: all 0.3s linear;
    display:  flex; line-height: 25px;
    align-items: center; justify-content: center;
}
main .content3 .imgs ul li :hover p {
    background: rgba(33, 33, 33, 50%);
    opacity: 1;
}
/* content4==================================================================== */
main #content4 {
    display: flex; flex-flow: column nowrap;
    align-items: center; text-align: center;
    padding: 80px 0;
    background: #000;
} 
main #content4 .content4_title {margin-bottom: 40px;} 
main #content4 .content4_title p {letter-spacing: -0.02em;} 
main #content4 .content4_title p:nth-child(1) {
    font-size: 2.5rem; font-weight: 700;
    color: #DFBA63; 
} 
main #content4 .content4_title p:nth-child(2) {
    font-size: 1.25rem; margin: 50px 0 30px;
    color: #fff; line-height: 30px;
} 
main #content4 .content4_title p:nth-child(3) {
    font-size: 1.25rem; font-weight: 700;
    color: #fff;
} 
main #content4 table {
    width: 1000px;
    margin: 0 0 100px;
} 
main #content4 table th {
    font-size: 1.875rem; font-weight: 700;
    border: 1px solid #fff; padding:35px 20px;
    color: #fff; background: #4C4C4C;
} 
main #content4 table th:nth-child(1) {width: 400px;} 
main #content4 table th:nth-child(2) {width: 600px;} 
main #content4 table tr {} 
main #content4 table tr td {
    font-size: 1.25rem;
    border: 1px solid #fff;
    padding: 40px 50px; color: #fff;
} 
main #content4 > p {
    line-height: 40px; margin-bottom: 30px; 
    color: #fff; padding:0 20px;
} 
main #content4 > a {
    padding: 15px 10px; display: inline-block;
    color: #fff;
    border: 1px solid #fff; letter-spacing: -0.02em;
} 
/* content5================================================ */
main #content5 {
    background: #000; text-align: center;
    padding: 100px 0;
} 
main #content5 p {letter-spacing: -0.02em;}
main #content5 p:nth-child(1) {
    font-weight: 700; color: #DFBA63;
    font-size: 2.5rem;
}
main #content5 p:nth-child(2) {
    color: #fff; line-height: 26px;
    margin: 50px 0;
}
main #content5 .map {
    width: 100%;
}
main #content5 .map iframe {
    width: calc(100% - 60px); height: 600px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 1);
}
/* content6================================================== */
main .content6 {
    background: #000;
    display: flex; flex-flow: column nowrap;
    align-items: center; padding: 100px 0;
}
main .content6 > p {
    font-size: 2.5rem; letter-spacing: -0.02em;
    color: #DFBA63; font-weight: 700;
}
main .content6 ul {
    display: flex; text-align: center; flex-flow: row wrap;
    width: 1200px; background: #000; margin-top: 50px;
}
main .content6 ul li {margin-bottom: 80px; padding: 10px;}
main .content6 ul li > p {letter-spacing: -0.02em; color: #fff;}
main .content6 ul li > p img {}
main .content6 ul li > p:nth-child(1) {margin-bottom: 20px;}
main .content6 ul li > p:nth-child(2) {
    width: 380px; line-height: 30px; 
}